body {
    background-color: rgb(0, 200, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:rgb(255, 106, 0);
    text-align: center;
}
h2 {
    color: red;
    text-align: left;
}

